<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flightgear.Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Flightgear.Control.Properties.Settings>
            <setting name="SERVO_MAO_ESQUERDA" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_BRACO_ESQUERDO" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_OMBRO_ESQUERDO" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_MAO_DIREITA" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_BRACO_DIREITO" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_OMBRO_DIREITO" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_QUADRIL_ESQUERDO" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_JOELHO_1_ESQUERDO" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_JOELHO_2_ESQUERDO" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_TORNOZELO_ESQUERDO" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_PE_ESQUERDO" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_QUADRIL_DIREITO" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_JOELHO_1_DIREITO" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_JOELHO_2_DIREITO" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_TORNOZELO_DIREITO" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SERVO_PE_DIREITO" serializeAs="String">
                <value>150</value>
            </setting>
        </Flightgear.Control.Properties.Settings>
    </userSettings>
</configuration>